<h2 piwik-enriched-headline data-graph-id="MediaAnalytics.getIndexGraph">{{ 'General_EvolutionOverPeriod'|translate }}</h2>

{{ evolutionSummary|raw }}

<h2>{{ 'General_Report'|translate }}</h2>

{{ sparklines|raw }}